/**
 * Created By Karthik Vasudevan
 * On 04/10/2015
 * styles for index.html
 */

html,
body,
div {
    margin: 0;
    border: 0 none;
    padding: 0;
    width:100%;
    height:100%;
}
body{
    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
}